@use '../themes/nora/abstracts/helpers';

.nora-two-fold {
  display: flex;
  flex-flow: column;
  gap: var(--nora-space-150);
  margin-block: var(--nora-space-400);

  @include helpers.large-vw {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}