.ui-tooltip.nora-tooltip {
  background: var(--nora-color-blue-950) !important;
  border: none;
  border-radius: 1.5rem;
  box-shadow: var(--nora-box-shadow-sm);
  color: var(--nora-color-white);
  font-family: var(--nora-document-font-family);
  font-size: var(--nora-typography-font-size-xs);
  line-height: var(--nora-typography-line-height-135);
  max-width: 20rem;
  padding-block: var(--nora-space-75);
  padding-inline: var(--nora-space-150);
}