.smw-ui-pagination .page-link {
  color: var(--nora-interaction-color);
}

.smw-ui-pagination .page-link.link-active {
  background-color: var(--nora-interaction-color);
  border-color: var(--nora-interaction-color);
}

.smw-ui-input-filter {
  color: var(--nora-interaction-color);
}