@use 'sass:map';
@use 'sass:color';

@use './themes/nora/abstracts/helpers';

.visually-hidden {
	@include helpers.visually-hidden;
}

.error-message {
	color: red;
	background: #ffe4e4;
	border: 1px solid red;
	border-radius: 5px;
	padding: .25em;
}

div#mw-content-text {
  position: inherit !important;
}

div.smartrdfexport-wikibutton {
  display: none;
  position: relative !important;
}

h1#firstHeading {
  span#firstHeadingTitle {
    margin-left: .25em;
  }
}

.mw-lingo-tooltip {
  display: none;
}


$base-submenu-color: #fff;

li.navigation-item.with-dropdown {
	position: relative;
	ul.navigation-item-dropdown-menu {
		@include helpers.reset-list;
		
		display: block;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		right: auto;
		z-index: 1002;
		li.navigation-item {
			background: $base-submenu-color;
			box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
			.navigation-link {
				@include helpers.button-link-state-colors("nora-navigation-bar-navigation-item");
				&:visited {
					color: black;
				}
				color: black;
				display: block;
				background: #fff;
				zoom: 0.95;
				&:hover, &:focus, &:focus-visible {
					border-radius: 0;
				}
				&:hover {
					color: white;
				}
			}
			&.info {
				font-size: 11px;
				padding: 1em .5em .2em;
				font-weight: bold;
				text-transform: uppercase;
				border-radius: .25em;
				margin-bottom: -.2em;
				background: #f5f5f5;
			}
			&:last-child {
				.navigation-dropdown-item {
					border-bottom: 2px solid color.adjust($base-submenu-color, $lightness: -10%);
				}
			}
		}
		li.separator {
			height: 1px;
			background: #cacaca;
		}
		&.align-left {
			right: 0;
		}
		&.align-right {
			left: 0;
		}
	}

	.navigation-item-dropdown-menu[aria-hidden="false"] {
		opacity: 1;
		transition: opacity 0.2s ease;
		visibility: visible;
	}

}