<div class="link-overview">
    <div class="heading">
        {{heading}}
    </div>
    <div class="items">
        {{#items}}
        <div class="link-item">
            <a href="{{href}}">
                <div class="link-item-content">
                    <span class="name">{{name}}</span>
                    <span class="description">{{description}}</span>
                </div>
            </a>
        </div>
        {{/items}}
    </div>
</div>