<form id="searchform" class="search-block-form show-block collapsible-menu-item" action="{{form-action}}">
    <input type="hidden" name="title" value="{{page-title}}">
    {{{html-input}}}
        {{{html-button-search}}}
</form>