@mixin visual-banner {
  display: block;
  margin: 0;

  /** TODO custom property from theme for background is not working correctly */
  background: linear-gradient(180deg, #F6FBFD 0%, #A7D8E6 100%);
}

@mixin visual-banner-image {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}